body {
    width: 100%;
    height: 3692px;
    background: #d0cece;
    margin: 0;
}

#Cabeçalho {
    width: 100%;
    height: 148px;
    flex-shrink: 0;
    background: #181818;
    display: flex;
    align-items: center;
    width: 100%;
    background: #181818;
    border-bottom: 3px #C5C6C7 solid;
    position: fixed; 
    top: 0; 
    z-index: 1000; 
}

#Cabeçalho .ProjetoFinal {
    margin-left: 15px;
    display: flex;
    align-items: center;
}

#Cabeçalho .ProjetoFinal img {
    width: 75px;
    height: 75px;
    flex-shrink: 0;
    margin-right: 10px;
}

#Cabeçalho .ProjetoFinal h1 {
    color: rgb(171, 57, 171);
    font-family: Judson;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0px;
}

#Cabeçalho .Caminhos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin-left: 45%;
}

#Cabeçalho .Caminhos a {
    text-decoration: none;
    color: inherit;
}

#Cabeçalho .Caminhos h1, h2, h3, h4 {
    padding: 35px;
    color: rgb(171, 57, 171);
    font-family: Judson;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}