body {
    width: 100%;
    height: 1500px;
    background: #d0cece;
    margin: 0;
}

#Cabeçalho {
    width: 100%;
    height: 148px;
    flex-shrink: 0;
    background: #181818;
    display: flex;
    align-items: center;
    width: 100%;
    background: #181818;
    border-bottom: 3px #C5C6C7 solid;
    position: fixed; 
    top: 0; 
    z-index: 1000; 
}

#Cabeçalho .ProjetoFinal {
    margin-left: 15px;
    display: flex;
    align-items: center;
}

#Cabeçalho .ProjetoFinal img {
    width: 75px;
    height: 75px;
    flex-shrink: 0;
    margin-right: 10px;
}

#Cabeçalho .ProjetoFinal h1 {
    color: rgb(171, 57, 171);
    font-family: Judson;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0px;
}

#Cabeçalho .Caminhos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin-left: 45%;
}

#Cabeçalho .Caminhos a {
    text-decoration: none;
    color: inherit;
}

#Cabeçalho .Caminhos h1,
#Cabeçalho .Caminhos h2,
#Cabeçalho .Caminhos h3,
#Cabeçalho .Caminhos h4 {
    padding: 35px;
    color: rgb(171, 57, 171);
    font-family: Judson;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    transition: color 0.3s ease-in-out; 
}

#Cabeçalho .Caminhos h1:hover,
#Cabeçalho .Caminhos h2:hover,
#Cabeçalho .Caminhos h3:hover,
#Cabeçalho .Caminhos h4:hover {
    color: rgb(255, 0, 255);
}

@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
background: #100721;
font-family: "Ubuntu Mono", monospace;
font-weight: 400;
}

.container {
width: 100%;
display: flex;
justify-content: center;
height: 500px;
gap: 10px;

> div {
    flex: 0 0 500px;
    height: 1000px;
    border-radius: 0.5rem;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    box-shadow: 1px 5px 15px #1e0e3e;
    position: relative;
    overflow: hidden;

    &:nth-of-type(1) {
        background-image: url(Imagens/Sprint\ 1.png);
        background-size: cover;
        animation: changeColors 10s infinite alternate;
    }
    &:nth-of-type(2) {
        background-image: url(Imagens/Sprint\ 2.png);
        background-size: cover;
        animation: changeColors 10s infinite alternate;
    }
    &:nth-of-type(3) {
        background-image: url(Imagens/Sprint\ 3.png);
        background-size: cover;
        animation: changeColors 10s infinite alternate;
    }
    &:nth-of-type(4) {
        background-image: url(Imagens/Sprint\ 4.png);
        background-size: cover;
        animation: changeColors 10s infinite alternate;
    }


.content {  
    font-size: 30px;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 15px;
    opacity: 0;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
    background: rgb(2, 2, 46);
    background: linear-gradient(
        0deg,
        rgba(2, 2, 46, 0.6755077030812324) 0%,
        rgba(255, 255, 255, 0) 100%
    );
    transform: translatey(100%);
    transition: opacity 0.5s ease-in-out, transform 0.5s 0.2s;
    visibility: hidden;

    span {
        font-size: 50px;
        margin-bottom: 30px;
    }

    h2 {
        font-size: 80px;
    }
    }

    &:hover {
    flex: 0 0 900px;
    box-shadow: 1px 3px 15px #7645d8;
    transform: translatey(-30px);
    height: 1000px;
    }

    &:hover .content {
    opacity: 1;
    transform: translatey(0%);
    visibility: visible;
    }
}
}

#Sprints {
    margin-top: 100px;
}

.Título {
    margin-top: 200px;
    justify-content: center;
    align-items: center;
    display: flex;
}


.button {
    margin: 0;
    height: auto;
    background: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
  }
  

  .button {
    --border-right: 6px;
    --text-stroke-color: rgba(255,255,255,0.6);
    --animation-color: #941b94;
    --fs-size: 100px;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: var(--fs-size);
    font-family: "Arial";
    position: relative;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--text-stroke-color);
}

.hover-text {
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: var(--animation-color);
    width: 0%;
    inset: 0;
    border-right: var(--border-right) solid var(--animation-color);
    overflow: hidden;
    transition: 0.5s;
    -webkit-text-stroke: 1px var(--animation-color);
}
.button:hover .hover-text {
    width: 100%;
    filter: drop-shadow(0 0 23px var(--animation-color))
}

.Dica h1 {
    color: white;
    margin-left: 50px;
}

