body {
    width: 100%;
    height: 3150px;
    background: #2b2b2b;    
    margin: 0;
}

#Cabeçalho {
    width: 100%;
    height: 148px;
    flex-shrink: 0;
    background: #181818;
    display: flex;
    align-items: center;
    width: 100%;
    background: #181818;
    border-bottom: 3px #C5C6C7 solid;
    position: fixed; 
    top: 0; 
    z-index: 1000; 
}

#Cabeçalho .ProjetoFinal {
    margin-left: 15px;
    display: flex;
    align-items: center;
}

#Cabeçalho .ProjetoFinal img {
    width: 75px;
    height: 75px;
    flex-shrink: 0;
    margin-right: 10px;
}

#Cabeçalho .ProjetoFinal h1 {
    color: #ff22f0;
    font-family: Judson;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0px;
}

#Cabeçalho .Caminhos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin-left: 45%;
}

#Cabeçalho .Caminhos a {
    text-decoration: none;
    color: inherit;
}

#Cabeçalho .Caminhos h1,
#Cabeçalho .Caminhos h2,
#Cabeçalho .Caminhos h3,
#Cabeçalho .Caminhos h4 {
    padding: 35px;
    color: rgb(171, 57, 171);
    font-family: Judson;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    transition: color 0.3s ease-in-out; 
}

#Cabeçalho .Caminhos h1:hover,
#Cabeçalho .Caminhos h2:hover,
#Cabeçalho .Caminhos h3:hover,
#Cabeçalho .Caminhos h4:hover {
    color: rgb(255, 0, 255);
}


#Carrinho {
    display: flex;
    align-items: center;
    border-bottom: #C5C6C7;
    background-image: url();
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 100px;
}

.button {
    margin: 0;
    height: auto;
    background: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
  }
  

  .button {
    --border-right: 6px;
    --text-stroke-color: rgba(255,255,255,0.6);
    --animation-color: #941b94;
    --fs-size: 100px;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: var(--fs-size);
    font-family: "Arial";
    position: relative;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--text-stroke-color);
  }

  .hover-text {
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: var(--animation-color);
    width: 0%;
    inset: 0;
    border-right: var(--border-right) solid var(--animation-color);
    overflow: hidden;
    transition: 0.5s;
    -webkit-text-stroke: 1px var(--animation-color);
  }
  .button:hover .hover-text {
    width: 100%;
    filter: drop-shadow(0 0 23px var(--animation-color))
  }

#Carrinho img {
    margin-top: 104px;
    margin-left: 300px;
    margin-bottom: 100px;
    background: #181818;    
    border-radius: 636px;
    width: 636px;
    height: 636px;
    flex-shrink: 0;
}

#Carrinho h1 {
    margin-left: 104px;
    font-family: Judson;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    overflow: hidden;
    border-right: .1em solid orange;
    white-space: nowrap; 
    margin: 0 auto;
    letter-spacing: 2px;
    color: #d57deb;
    animation:
      typing 1.2s steps(40, end),
      blink-caret .75s step-end infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: calc(30% - 104px); }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #e3a2df; }
}


.Título h1 {
    color: #fff;
    font-size: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Título2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Título2 h1 {
    color: #fff;
    font-size: 100px;
    margin-bottom: 100px;
}

#Galeria {
    display: flex;
    align-items: center;
    justify-content: center;
    position: static;
}

#Galeria img {
    display: block;
    margin: auto;
    min-height: 500px;
    max-height: 500px;
    max-width: 800px;
    min-width: 800px;
    border-radius: 2%;
    border: 3px solid white;
}

.Before {
    background-color: transparent;
    font-size: 100px;
    border: none;
    margin-left: 300px;
    color: rgb(239, 214, 239);
}

.After {
    background-color: transparent;
    font-size: 100px;
    border: none;
    margin-right: 300px;
    color: rgb(239, 214, 239);
}


#Especificações {
  display: flex;
}

.card {
    position: relative;
    width: 45.15%;
    height: 536px;
    aspect-ratio: 16/9;
    background-color: #f389eb;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    perspective: 1000px;
    box-shadow: 0 0 0 5px #ffffff80;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    margin-left: 50px;
    margin-right: 40px;
  }
  
  .card svg {
    width: 48px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .card__image {
    width: 100%;
    height: 100%;
  }
  
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
  }
  
  .card__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f389eb;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .card:hover .card__content {
    transform: rotateX(0deg);
  }
  
  .card__title {
    margin: 0;
    font-size: 50px;
    color: #333;
    font-weight: 700;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  
  .card:hover svg {
    scale: 0;
  }
  
  .card__description {
    margin: 10px 0 10px;
    font-size: 1000px;
    color: #777;
    line-height: 1.4;
  }
  
  .card__button {
    padding: 15px;
    border-radius: 8px;
    background: #777;
    border: none;
    color: white;
  }
  
  .secondary {
    background: transparent;
    color: #777;
    border: 1px solid #777;
  }

.card ul {
    font-size: 30px;
    font-family: Judson;
}

div[viewBox="0 0 24 24"][xmlns="http://www.w3.org/2000/s"] {
  font-size: 50px;
  color: black;
}

#Especificações2 {
  justify-content: center;
  display: flex;
  align-items: center;
}

.card2 {
  position: relative;
  width: 45.15%;
  height: 536px;
  aspect-ratio: 16/9;
  background-color: #f389eb;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;
  box-shadow: 0 0 0 5px #ffffff80;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  margin: auto;
  margin-top: 80px;
}

.card2 svg {
  width: 48px;
  fill: #333;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card2__image {
  width: 100%;
  height: 100%;
}

.card2:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.card2__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #f389eb;
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card2:hover .card2__content {
  transform: rotateX(0deg);
}

.card2__title {
  margin: 0;
  font-size: 50px;
  color: #333;
  font-weight: 700;
  align-items: center;
  justify-content: center;
  display: flex;
}

.card2:hover svg {
  scale: 0;
}

.card__description {
  margin: 10px 0 10px;
  font-size: 1000px;
  color: #777;
  line-height: 1.4;
}

.card2__button {
  padding: 15px;
  border-radius: 8px;
  background: #777;
  border: none;
  color: white;
}

.secondary {
  background: transparent;
  color: #1e1c1c;
  border: 1px solid #777;
}

.card2 ul {
  font-size: 30px;
  font-family: Judson;
}

.card2 h1 {
  font-family: Judson;
  font-weight: normal;
  font-size: 30px;
}